@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Public+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

.green {
  height: 40vw;
  width: 40vw;
  position: absolute;
  background-color: rgba(15, 157, 86, 0.743);
  filter: blur(150px);
  border-radius: 50%;
  top: -10vw;
  right: -5vw;
  z-index: -1;
  animation-name: disappear;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.yellow {
  height: 50vw;
  width: 50vw;
  position: absolute;
  background-color: rgba(250, 188, 4, 0.736);
  filter: blur(150px);
  border-radius: 50%;
  bottom: -15vw;
  left: -5vw;
  z-index: -1;
  animation-name: disappear;
  animation-duration: 5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
  animation-delay: 2.5s;
}

@keyframes disappear {
  0% {
    opacity: 0.3;
  }

  30% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

header {
  display: flex;
  align-items: center;
  height: 8vw;
  width: 100vw;
  position: fixed;
  z-index: 1;
}

.nav {
  background-color: rgba(255, 255, 255, 0.729);
  width: 88vw;
  height: 4vw;
  border-radius: 40px;
  border: solid #d7d7d7 1px;
  margin-left: 3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-first {
  display: flex;
  align-items: center;
  width: 22vw;
  font-family: "Public Sans", sans-serif;
  height: 100%;
}

.nav-first img {
  height: 2vw;
  margin-left: 2.5vw;
  animation-name: roll;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-delay: 2s;
  animation-duration: 3s;
}

.nav-first::-webkit-scrollbar {
  display: none;
}

@keyframes roll {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
    margin-left: 7vw;
  }

  100% {
    margin-left: 2.5vw;
    transform: rotateZ(0deg);
  }
}

.nav a {
  text-decoration: none;
  color: rgb(48, 48, 48);
  transition: all 0.25s;
}

.nav-first p {
  color: #5f6368;
  font-size: 1.3vw;
  margin-left: 1.5vw;
}

.mit {
  height: 4.5vw;
  margin-left: 2vw;
}

.nav-second {
  width: 28vw;
  display: flex;
  justify-content: space-evenly;
  font-family: "Public Sans", sans-serif;
  color: #5f6368;
  font-size: 1.2vw;
  letter-spacing: 0.5px;
}

.nav a:hover {
  color: rgba(15, 157, 86, 0.743);
  cursor: pointer;
}

.nav button img {
  height: 1.5vw;
}

.nav button {
  all: unset;
  display: none;
}

.home {
  width: 100vw;
  display: flex;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  align-items: center;
  margin-top: 9vw;
}

.home-title {
  margin-top: 2vw;
  font-size: 4vw;
  letter-spacing: 7px;
  font-weight: 500;
}

.home-para {
  color: #7b7b7b;
  width: 50vw;
  font-size: 2vw;
  margin: 1vw 35vw 0 0;
  letter-spacing: 2px;
}

.home-second {
  display: flex;
  margin-top: 3vw;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
}

.home-second::-webkit-scrollbar {
  display: none;
}

.imp {
  display: flex;
  flex-direction: column;
  background-image: url("images/imp.png");
  height: 20.7vw;
  width: 21.5vw;
  padding-left: 1vw;
  background-size: cover;
  margin-left: 4vw;
  color: white;
  transition: 0.3s all;
}

.imp h2 {
  display: inline-block;
  white-space: nowrap;
  margin: 3.5vw 0 0 2vw;
  font-size: 2vw;
  width: 18vw;
  animation: typing 3s .5s steps(25) infinite, cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.imp p {
  font-size: 1.5vw;
  width: 10vw;
  margin: 0.4vw 0 0 2.5vw;
  white-space: nowrap;
  animation: typing 3s, cursor 0.4s step-end infinite alternate;
}

.imp .button {
  margin: 1.6vw 0 0 2vw;
  width: 17vw;
  height: 3vw;
  background-color: #b58600;
  border-radius: 15px;
  font-size: 1.3vw;
  text-align: center;
  padding-top: 1vw;
  font-weight: 600;
  transition: all 0.2s;
}

.imp .button a {
  text-decoration: none;
  color: white;
}

.imp .button:hover {
  cursor: pointer;
  transform: translate(-2px, -3px);
  box-shadow: 2px 3px #594100;
}

#logo1 {
  height: 40vw;
  transform: translateX(15vw);
  animation: flip 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s 1;
}

#logo2 {
  display: none;
}

@keyframes flip {
  0% {
    scale: 0.2;
  }
  100% {
    transform: translateX(15vw);
  }
}

/* -------------------about-us-------------------- */

.memory-lane {
  width: 70vw;
  margin: 20vw 0 10vw 15vw;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3vw;
  letter-spacing: 2px;
  font-weight: 400;
}

.about {
  margin: 5vw 0 0 5vw;
  width: 90vw;
  height: auto;
  border-radius: 4vw;
  display: flex;
  flex-direction: column;
}

#twenty-three {
  background-color: #0f9d562c;
}

#twenty-two {
  background-color: #ea44351c;
}

#twenty-three .about-first {
  background-image: url("images/about-header2.png");
  box-shadow: 10px 10px 30px #0f9d566c;
}

#twenty-two .about-first {
  background-image: url("images/about-header.png");
  box-shadow: 10px 10px 30px #ea44355b;
}

.about-first {
  width: 90vw;
  height: 17vw;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Poppins", sans-serif;
  border-radius: 4vw;
}

.about-first div::-webkit-scrollbar {
  display: none;
}

.about-first div {
  display: flex;
  width: 80vw;
  margin-left: 5vw;
  justify-content: space-between;
}

.about-first h1 {
  font-weight: 500;
  font-size: 6vw;
}

.about-first h3 {
  font-size: 2.5vw;
  margin: 2.5vw 0 0 5.5vw;
  font-weight: 400;
}

.about-first button {
  all: unset;
  height: 3vw;
  transform: translateY(4vw);
}

.arrow {
  height: 3.5vw;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.arrow:hover {
  cursor: pointer;
}

.about-second {
  opacity: 0;
  height: 0vw;
  width: 90vw;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

.about-second::-webkit-scrollbar {
  width: 0.7vw;
}

.about-second::-webkit-scrollbar-track {
  background: transparent;
}

.about-second::-webkit-scrollbar-thumb {
  background: #f56558;
  border-radius: 20px;
}

.open {
  opacity: 1;
  height: 35vw;
}

.events {
  background: linear-gradient(
    0deg,
    rgba(234, 68, 53, 0.322) 0%,
    rgba(255, 255, 255, 0.353) 100%
  );
  height: 28vw;
  min-width: 21.5vw;
  border-radius: 3vw;
  padding: 0.3vw;
  margin-left: 3vw;
  transition: all 0.3s;
}

.sub-events {
  height: 28vw;
  width: 20vw;
  border-radius: 2.8vw;
  background: linear-gradient(
    180deg,
    rgb(252, 142, 132) 0%,
    rgb(255, 255, 255) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 1.5vw;
  font-family: "Poppins", sans-serif;
  color: white;
}

.sub-events h3 {
  margin-top: 2vw;
  font-size: 1.7vw;
  width: 18vw;
  font-weight: 400;
}

.sub-events h2 {
  width: 18vw;
  font-size: 2.5vw;
  font-weight: 500;
  line-height: 3vw;
  overflow-y: hidden;
  margin: 1vw 0;
}

.sub-events img {
  height: 14vw;
}

.events:nth-of-type(2n):hover {
  transform: rotate(2deg);
}
.events:nth-of-type(2n + 1):hover {
  transform: rotate(-2deg);
}

/* -------------------footer-------------------- */
footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 40vw;
  background: linear-gradient(
    180deg,
    transparent 0%,
    rgba(66, 133, 244, 0.65) 100%
  );
}

.first-section {
  display: flex;
  justify-content: space-evenly;
}

.first-section img {
  height: 12vw;
  margin-right: 3vw;
}

.first-section h4 {
  color: #000;
  font-family: "Public Sans", sans-serif;
  font-size: 1.6vw;
  font-weight: 800;
  line-height: 192%;
  margin-bottom: 1vw;
}

.first-section ul li a {
  list-style: none;
  color: #303030;
  text-decoration: none;
  font-family: Public Sans;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 192%;
}

.first-section ul li a:hover {
  color: white;
}

.second-section p {
  color: #303030;
  font-family: "Public Sans", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  margin-left: 8vw;
  margin-right: 8.7vw;
}

.second-section {
  display: flex;
  align-items: center;
  margin: 3.5vw 0;
}
.second-section > div {
  display: flex;
  gap: 6px;
}
.second-section img {
  height: 2.3vw;
  margin: 0.9vw;
  transition: all 0.25s;
}
.second-section img:hover {
  cursor: pointer;
  scale: 1.1;
}

#coming-soon {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #0f9d57;
  font-size: 6vw;
  letter-spacing: 2px;
  margin-left: 3vw;
}

@media only screen and (max-width: 450px) {
  body {
    overflow-x: hidden;
  }

  .green {
    height: 100vw;
    width: 70vw;
    top: -15vw;
    left: 30vw;
    background-color: rgba(15, 157, 86, 0.493);
  }

  .yellow {
    height: 120vw;
    width: 120vw;
    left: -30vw;
    bottom: -20vw;
    background-color: rgba(250, 188, 4, 0.408);
  }

  .nav button {
    display: inline;
    margin: 1vw 5vw 0 0;
  }

  .nav-second {
    z-index: -1;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("images/nav-drawer.png");
    background-size: cover;
    position: absolute;
    min-width: 88vw;
    height: 55vw;
    transform: translate(2vw, 38vw);
    border: 1px solid white;
    border-radius: 30px;
    scale: 0.2;
    transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.507);
  }

  .nav-second span {
    font-size: 4vw;
    width: 80vw;
    height: 14vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .nav-second span:hover {
    background-color: white;
  }

  .mit {
    display: none;
  }

  header {
    padding-top: 4vw;
    justify-content: center;
    align-items: flex-start;
    height:23vw;
    width: 100vw;
  }

  .expand {
    height: 80vw;
  }

  .nav {
    background-color: rgba(255, 255, 255, 0.688);
    margin: 0;
    height: 15vw;
    width: 92vw;
    border: solid white 1px;
    box-shadow: 0px 4px 4px rgba(67, 167, 118, 0.4);
  }

  .nav-first {
    width: 60vw;
  }

  .nav-first img {
    height: 5vw;
    margin: 0 3vw 0 6vw;
    animation-delay: 0s;
  }

  @keyframes roll {
    0% {
      transform: rotateZ(0deg);
    }
    50% {
      transform: rotateZ(180deg);
      margin-left: 13vw;
    }

    100% {
      margin-left: 6vw;
      transform: rotateZ(0deg);
    }
  }

  .nav-first p {
    font-size: 4.5vw;
  }

  .nav-second {
    width: 20vw;
  }

  .nav button img {
    height: 4vw;
  }

  .active {
    opacity: 1;
    scale: 1;
    z-index: 2;
  }

  /* Home Page */
  .home {
    margin-top: 20vw;
  }

  .home-title {
    text-align: center;
    width: 100vw;
    font-size: 8vw;
    margin-top: 8vw;
    letter-spacing: 3px;
  }

  .home-para {
    margin: 0;
    text-align: center;
    margin-top: 7vw;
    font-size: 4vw;
    width: 80vw;
  }

  .home-second {
    flex-direction: column-reverse;
    width: 100vw;
    height: fit-content;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }

  #logo1 {
    display: none;
  }

  #logo2 {
    display: block;
    margin-top: 6vw;
    width: 100vw;
    transform: translateY(-7vw);
    z-index: 0;
    animation: appear 2s ease 0 1;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .imp {
    height: 41.4vw;
    width: 43vw;
    margin: 0;
    transform: translate(-20vw, -20vw);
  }

  .imp h2 {
    margin: 7vw 0 0 5vw;
    font-size: 3.5vw;
    width: 34vw;
    border-right: 2px solid;
  }

  .imp p {
    font-size: 3vw;
    width: 34vw;
    margin: 0.8vw 0 0 6vw;
  }

  .imp .button {
    margin: 3.2vw 0 0 5vw;
    width: 34vw;
    height: 6vw;
    background-color: #b58600;
    border-radius: 15px;
    font-size: 2.6vw;
    text-align: center;
    padding-top: 2vw;
    font-weight: 600;
  }

  .about-first h1 {
    font-size: 10vw;
  }

  .about-first h3 {
    font-size: 3.5vw;
    margin: 2.5vw 0 0 6vw;
    font-weight: 400;
  }

  .about-first button {
    height: 5vw;
    transform: translateY(7vw);
  }

  .arrow {
    height: 5vw;
  }

  .imp .button:hover {
    cursor: pointer;
    transform: translate(-2px, -3px);
    box-shadow: 2px 3px #594100;
  }

  /* -----------------About Us-------------------- */

  .memory-lane {
    margin: 0 0 8vw 15vw;
    font-size: 6vw;
  }

  .about {
    border-radius: 7vw;
  }

  .open {
    height: 60vw;
  }

  .about-first {
    height: 30vw;
    background-position: center;
    border-radius: 7vw;
  }

  .events {
    height: 47vw;
    min-width: 35vw;
    border-radius: 6.7vw;
    padding: 1vw;
    margin-left: 5.8vw;
  }

  .sub-events {
    height: 47vw;
    width: 33vw;
    border-radius: 6vw;
    padding-right: 2vw;
  }

  .sub-events h3 {
    margin-top: 5vw;
    font-size: 2.7vw;
    width: 30vw;
    font-weight: 400;
  }

  .sub-events h2 {
    width: 30vw;
    font-size: 4.2vw;
    font-weight: 500;
    line-height: 5vw;
    margin: 1vw 0 3vw 0;
  }

  .sub-events img {
    height: 20vw;
  }

  /* ------------------------Footer----------------------- */

  footer {
    height: 55vw;
    margin-top: 20vw;
  }

  .associate {
    display: none;
  }

  .first-section img {
    height: 35vw;
    margin: 0;
  }

  .second-section {
    flex-direction: column-reverse;
  }

  .second-section p {
    font-size: 2.5vw;
    text-align: center;
    margin-top: 3vw;
  }

  .second-section img {
    height: 4.3vw;
  }
}
